@import "everything/variablesIPC";
@import "everything/mixins";
@import "everything/animations";


// @import "base/animations";
@import "everything/base";
@import "everything/typography";
// @import "base/utilities";

@import "everything/buttons";
@import "everything/fields";

@import "everything/functions";
@import "./everything/variables";
@import "./everything/breakpoints";

.layout {
    header {
        position: absolute;
        margin: 0px;
        padding: 16px;
        width: 100%;
        z-index: 300;
    }

    .blue-bg {
        background-color: rgb(2, 156, 209);
        color: $white;
        text-align: center;
        @include media-breakpoint-up(lg){
            height: 512px;
            text-align: left;
        }
    }

    .gray-bg {
        background-color: $light-gray;
        margin-top: 1rem;
        text-align: center;
        @include media-breakpoint-up(lg) {
            height: 512px;
            text-align: left;
        }
    }

    .subfooter-sec {
        background-image: url('https://res.cloudinary.com/ipcmobile/image/upload/c_scale,w_800/v1/partials/sub-footer-background.png');
        background-position: center center;
        background-repeat: no-repeat;
        background-size: cover;
        text-align: center;
        color: $white;
        height: 500px;
        margin-top: 1rem;

        @include media-breakpoint-up(sm) {
            background-image: url('https://res.cloudinary.com/ipcmobile/image/upload/c_scale,w_800/v1/partials/sub-footer-background.png');
        }

        @include media-breakpoint-up(md) {
            background-image: url('https://res.cloudinary.com/ipcmobile/image/upload/c_scale,w_1600/v1/partials/sub-footer-background.png');
        }

        @include media-breakpoint-up(lg) {
            background-image: url('https://res.cloudinary.com/ipcmobile/image/upload/c_scale,w_2000/v1/partials/sub-footer-background.png');
            height: 512px;
        }

        .container {
            height: 100%;
        }

        .row {
            display: flex;
            justify-content: center;
            height: 100%;
        }

        .textBox {
            margin: auto;

        }
    }

    footer {
        @extend %din;
        background-color: #242424;
        margin-bottom: 0px;
        overflow: hidden;
        padding: 48px 0px;
        text-align: center;

        .footer-links {
            padding: 32px 0px;
            padding-bottom: 16px;

            @include media-breakpoint-up(lg) {
                float: right;
                padding-bottom: 0px;
                color: white;
                opacity: .6;

            }

            .sub1 {
                margin-left: 16px;
                color: white;
                opacity: .6;

                @include media-breakpoint-up(lg) {
                    margin-left: 32px;
                    color: white;
                    opacity: .6;

                }
            }
        }

    }


    @media only screen and (min-width: 991px) {

        footer,
        .sub2 {
            text-align: left;
        }

        footer .sub2 {
            padding-top: 32px;
            display: inline-block;
        }

    }
}

.layout-1 {
    .billboard {
        background-image: linear-gradient(292deg, rgb(4, 59, 134), rgb(0, 159, 255));
        color: $white;
        padding-top: 5.5rem;
        padding-bottom: 4rem;
        text-align: center;
        overflow: hidden;

        @include media-breakpoint-up(lg) {
            height: 586px;
            padding-bottom: 0;
            text-align: left;
        }

        .image-wrapper {
            @include media-breakpoint-up(lg) {
                height: 498px;
                overflow: hidden;
            }

            img {
                margin-bottom: 3rem;

                @include media-breakpoint-up(lg) {
                    margin-bottom: 0;
                    position: absolute;
                    bottom: -75px;
                }
            }
        }

        .tags {
            text-align: center;
            @include media-breakpoint-up(lg) {
                text-align: left;
            }

            span {
                display: inline-block;
                font-size: 12px;
                border-radius: 3px;
                padding: .25em .4em;
                font-weight: 700;
                text-align: left;
                margin: 0px 4px 4px 0px;
            }

            .dark {
                background-color: #242424;
                color: white;
            }

            .light {
                background-color: white;
                color: #474747;
            }
        }

    }

    .action-bar {
        @extend %din;
        background-color: transparent;
        width: 100%;
        z-index: 1;
        box-shadow: transparent;
        height: 100%;
        max-height: 180px;
        overflow: hidden;
        display: flex;
        
        .action-float{
            width: 100%;
            background-color: #f6f6f6;
            width: 100%;
            z-index: 1;
            box-shadow: transparent;
            height: 100%;
            max-height: 180px;
            transition: all .5s ease;
            img {
                display: none;

                @include media-breakpoint-up(md) {
                    padding: 0;
                    margin: auto 0 auto 0;
                    width: 128px;
                    background-color: #ECECEC;
                    border-radius: 7px;
                    display: block;
                    max-width: 128px;
                    transition: .8s ease;
                }
            }
            &.active {
                position: fixed;
                top: 0;
                width: 100%;
                box-shadow: 0px 6px 10px -5px rgba(0, 0, 0, .2);
                z-index: 10;
                height: 100%;
                max-height: 120px;
                background-color: #f6f6f6;
                transition: max-height .5s ease;
          
                .container{
                    height: auto;
                }
        
                img {
                    display: none;
        
                    @include media-breakpoint-up(md) {
                        margin: auto 0 auto 0;
                        background-color: #ECECEC;
                        border-radius: 7px;
                        display: block;
                        width: 88px;
                        max-width: 88px;
                        transition: all .5s ease;
                    }
                }
        
                .action-bar__text-body {
                    opacity: 0;
                    display: none;
                    transition: opacity 1s ease;
                }
            }
        }
        .container{
            height: 180px;
            &>.row {
                margin: auto;
                height: 100%;
            }
        }

        img{
            display: none;
         
            @include media-breakpoint-up(md){
                   margin: auto 0 auto 0;
                   width: 128px;
                   background-color: #ECECEC;
                   border-radius: 7px;
                   display: block;
                   max-width: 128px;
                   transition: .8s ease;
            }
        }
        &__text{
            margin: auto;
            &-head {
                font-size: 1.25rem;
                font-weight: bold;

                @include media-breakpoint-up(lg) {
                    font-size: 36px;
                    letter-spacing: -1.2px;
                }
            }
        }
        &__text-body{
            @extend %lato;
              line-height: 1.6;
              letter-spacing: 0.25px;
              font-size: .75rem;
              color: rgba(0,0,0, 0.6);
              
            @include media-breakpoint-up(lg){
                font-size: 1rem;
                line-height: 1.44;
                letter-spacing: normal;
            }
        }
        .col.button{
            padding-left: 0;
            padding-right: 0;
            margin-right: 15px;
            max-width: 150px;
        }


    }

 

    .power-sec {
        overflow: hidden;
        padding-bottom: 3rem;
        margin-top: 1rem;
        @include media-breakpoint-up(lg) {
            height: 500px;
            padding-bottom: 0;
        }
        
        .image-wrapper {
            margin: -9rem -6.5rem -5rem -3.5rem;

            @include media-breakpoint-up(lg){
                margin: -11rem -14rem -8rem -11rem;
            }
            @include media-breakpoint-up(xl){
                margin: -15rem;
            }
            
            img {
                margin-bottom: 3.5rem;

                @include media-breakpoint-up(lg) {
                    margin-bottom: 0;
                }
            }

        }
    }

    .cost-sec {
        padding-bottom: 3rem;
        @include media-breakpoint-up(lg) {
            padding-bottom: 0;
        }
        .row{
            @include media-breakpoint-up(lg) {
                height: 100%;
            }
            .col-12 {
                padding: 4rem 2rem 2rem 2rem;
            }
        }
        .image-wrapper{
            text-align: center;
        }
    }

    .accessory-sec {
        margin-top: 1rem;
        padding-top: 4rem;
        padding-bottom: 4rem;
            .container {
                margin: auto;
                height: auto;

                .row {
                    @include media-breakpoint-up(lg) {
                        height: 100%;
                    }
                }
            }
        

        .image-wrapper{
            img{
                height: 211px;
                margin-left: -50%;
                max-width: none;
                @include media-breakpoint-up(md){
                    height: 280px;
                }
                @include media-breakpoint-up(lg){
                    position: absolute;
                    left: -50%;
                    height:300px;
                    max-width: none;
                    margin-left: 0;
                }
                @include media-breakpoint-up(xl){
                        left: -55%;
                        height:350px;
                }
                @media only screen and (min-width: 1700px) {
                    left: -90%;
                }
            }
        }
        ul {
            display: inherit;
            list-style-type: none;
            justify-content: center;
            @include media-breakpoint-up(lg){
                justify-content: flex-start;
            }
            li {
                display: inline-block;
            }
        }

        

        li img {
            display: inline-block;
            margin: .5rem;
            width: 64px;
        }
    }

    .automate-sec {
        padding-top: 4rem;
        padding-bottom: 4rem;
        overflow: hidden;
        .container{
            margin: auto;
            height: auto;
            .row{
                @include media-breakpoint-up(lg){
                    height: 100%;
                }
            }
        }
        .image-wrapper{
            @include media-breakpoint-up(lg){
            margin: -4rem;
            }
            @include media-breakpoint-up(xl) {
                margin: -7rem;
            }
        }
    }

}

// @keyframes actionAddActive {
//     0% {
//         top: 0;
//         left: 0;
//     }

//     30% {
//         top: 50px;
//     }

//     72% {
//         left: 50px;
//     }

//     100% {
//         top: 100px;
//         left: 100%;
//     }
// }

@keyframes moveUp {
    0% {
        filter: blur(.3rem);
        transform: translateY(75px);
        line-height: 100px;
        opacity: 0;
    }


    100% {
        filter: blur(0);
        transform: translate(0);
        line-height: 77px;
        opacity: 1;
    }

}

@keyframes moveUpinfo {
    0% {
        filter: blur(1rem);
        transform: translateY(150px);
    }

    100% {
        filter: blur(0);
        transform: translate(0);
    }

}